.form-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.form-group {
  width: 100%;
}

.form-subtitle {
  padding-top: 20px;
}

.postal-code {
  grid-column: 1/3;
  width: 50%;
}

.loading-spinner {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7986cb;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.checkbox-group {
  display: flex;
  gap: 20px;
}

.checkbox-group > label > span {
  margin-left: 5px;
}
