.form-container {
  margin-top: 5vh !important;
  padding: 20px;
  margin: auto;
  width: 50vw;
  background-color: #092947;
  border-radius: 20px;
}

.form-title {
  margin: auto !important;
  margin-bottom: 20px !important;
  font-weight: bolder;
}

.form-subtitle {
  padding-top: 20px;
}

.form-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.form-group {
  width: 100%;
}

.btn {
  margin-top: 20px !important;
  margin: auto;
  background-color: #f4563b;
  font: 500 14px/120% Poppins, sans-serif;
  text-transform: uppercase;
  padding: 13px 26px;
  border: none;
  border-radius: 15px 0;
  display: flex;
  column-gap: 6px;
  align-items: center;
}

.btn:hover {
  transition: 0.5s;
  background-color: #e63719;
}

.postal-code {
  grid-column: 1/3;
  width: 50%;
}

.error-message {
  color: red;
}
